.gsc-video-box{
    position: relative;
    margin: 0 auto;
    .image-container {
      max-width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    &.style-1{
      .popup-video{
        .icon{
          @include size(156px, 152px);
          @include transition(all 0.35s);
          @include opacity(1);
          background: $theme-color;
          color: $white;
          display: inline-block;
          text-align: center;
          font-size: 30px;
          line-height: 156px;
          @include media-breakpoint-down(md){
            @include size(80px, 80px);
            line-height: 80px;
            font-size: 20px;
          }
        }
      }
      @include media-breakpoint-down(md){
        .image{
          text-align: center!important;
        }
      }
      .video-content-left{
        position: relative;
        width: 200px;
        float: left;
        @include media-breakpoint-down(md){
          width: 100%;
          margin-bottom: 10px;
        }
      }
      .video-content-right{
        padding-left: 220px;
        font-size: 18px;
        color: $theme-color-second;
        padding-top: 15px;
        @include media-breakpoint-down(md){
          width: 100%;
          margin-bottom: 15px; 
          padding-left: 0;  
        }
      }
    }
    &.style-2{
      margin-bottom: 30px;
      .image{
        margin-top: 60px;
        .popup-video{
          display: inline-block;
          font-size: 24px;
          color: $white;
          background: $theme-color;   
          text-align: center;
          @include transition(all 0.35s);
          @include size(113px, 113px);
          @include border-radius(50%);
          @include transform(translate(-50%,-50%));
          line-height: 115px;
          position: absolute;
          z-index: 11;
          top: 50%;
          left: 50%;          
          @include media-breakpoint-down(md){
            @include size(60px, 60px);
            line-height: 62px;
            margin-left: 30px;
            margin-top: 10px;
            font-size: 18px;
          }
          &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border: 1px solid #fff;
            @include border-radius(50%);
            opacity: 0;
            @include animation(pulse-border-2 1.5s linear infinite);
          }
          &::after{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border: 1px solid #fff;
            @include border-radius(50%);
            opacity: 0;
            @include animation(pulse-border 1s linear infinite);
          }
        }
        
      }
      .image-container{
        .image{
          margin-top: 0;
        }
        .popup-video{
          @include size(56px, 56px);
          line-height: 60px;
          font-size: 14px;
        }
      }
      .video-content{
        .link-video a{ 
          font-size: 20px;
          font-weight: 300;
          font-style: italic;
          position: relative;
          float: left;
          color: $white;
          display: inline-block;
          &:after {
            content: "";
            position: absolute;
            @include size(100%, 1px);
            background-color: $white;
            bottom: 0px;
            left: 0px;
          }
        }
        .button-review {
          float: right;
          margin-top: 20px;
          a{
            @include transition(all 0.35s);
            color: $black;
            border: 1px solid $black;
            padding: 4px 15px;
            @include border-radius(30px);
            font-weight: 700;
            font-size: 12px;
            text-transform: capitalize;
            letter-spacing: 2px;
            &:hover{
              color: $white;
              background: $theme-color;
              border-color: $theme-color;
            }
          }
        }
      }
      .video-inner{
        position: relative;
      }
      @media (max-width:480px){
        text-align: center;
        .video-content .link-video a{
          float: none;
        }
        .gsc-video-box.style-2 .image .popup-video{
          position: initial;
        }
      }
   }
}