$theme_color: 		      #00CC00;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/'; 
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #00CC00;
$brand-primary:         #00CC00;
$body-color:            #666666;